<%= render 'shared/error_messages', obj: @forum %>

<%= form_for @forum do |f| %>
  <div class="mb-3 required">
    <%=f.label :title, class: "form-label"%>
    <%=f.text_field :title, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%=f.label :description, class: "form-label"%>
    <%= f.text_area :description, :cols => 30, :rows => 5, class: "form-control" %>
  </div>
  <div class="d-inline">
    
    <% if @forum.persisted? %>
      <%= f.submit "Edit Channel", class: "btn btn-primary mr-3"%>

      <%= render 'layouts/delete', object: {name: "Delete Channel", path: forum_path(@forum)} %>
    <% else %>
      <%= f.submit "Create Channel", class: "btn btn-primary mr-3"%>
    <% end %>
    

  </div>
<% end %>
