<div class="container vh-80 mt-5 forum-box">
  <div class="row border">
    <div class="col-2 border">
      <strong>All channels</strong> 
      <% if current_user && current_user.admin %>
        <div class="fs-5 tooltipforme"><%= link_to '+', new_forum_path %>
          <span class="tooltiptextforme">Add Channel</span>
        </div>
      <% end %>
    </div>
    <div class="col-8">
      <strong><%= @forum.title%></strong> <%= @forum.description %>
    </div>
    <div class="col-2 border">
      <strong>All users</strong>
    </div>
  </div>
  <div class="row border">
    <div class="col-2">
        <% @forums.each do |forum| %>
          <div class="forum-channel my-3">
          <div><%= link_to forum.title, forum_path(forum), class: "black"%> </div>
          
          <% if current_user && current_user.admin %>
            <div>
              <%= link_to edit_forum_path(forum) do %>
                <div class="pencil gray fa tooltipforme">&#xf040;<span class="tooltiptextforme">Edit Channel</span></div>
              <% end %>
            </div>
          <% end %>
          </div>
        <% end %>
    </div>
    <div class="col-8 border chat-box">
      <div class="message-box overflow-auto" data-forum-id="<%= @forum.id %>" data-user-id="<%= current_user.id %>">
      </div>
      <div class="post-form">
        <%= form_for [@forum, @post], remote: true do |f| %>
          <%= f.text_field :body, :autofocus => true, placeholder: "Message to #{@forum.title}", class: "post-field form-control"%>
          <%= f.submit class: "d-none" %>
        <% end %>
      </div>
    </div>

    <div class="col-2">
      <% @users.each do |user| %>
        <div><%= user.username %></div>
      <% end %>
    </div>
  <div>
</div>