<% provide(:title, "My Profile") %>

<div class="container col-8 my-5">

  <div class="mb-4">
    <%= link_to 'View All Courses', courses_path, class: "btn btn-primary mr-3" %>
    <% if current_user && current_user.admin %>
      <%= link_to 'View All Users', users_path, class: "btn btn-info" %>
    <% end %>
  </div>

  <h1>Hello <%= @user.username%>!</h1>

  <div class="container">
    <p>First Name: <%= @user.first_name %></p>
    <p>Last Name: <%= @user.last_name %></p>
    <p>Username: <%= @user.username %></p>
    <p>Email: <%= @user.email %></p>
    <% if current_user && current_user.admin %>
      <p>Role: Admin</p>
    <% end %>
  </div>
  
  <% unless current_user.admin %>
    <div>
      <h3 class="mt-5">Courses I am enrolled in</h3>
      <% if @enrolled_courses.empty? %>
        <div class="mb-5 container">
        No courses enrolled
        </div>
      <% else %>
      <div class="mb-5">
        <ul class="list-group list-group-flush">
        <% @enrolled_courses.each do |course| %>

          <li class="list-group-item list-group-item-action"><%= link_to course.title, course_path(course) %></li>
        
        <% end %>
        </ul>
      </div>
      <% end %>
      <h3 class="mt-5">Courses I am pending in</h3>
      
      <% if @pending_courses.empty? %>
        <div class="mb-5 container">
          No courses pending
        </div>
      <% else %>
        <div class="mb-5">
        <ul class="list-group list-group-flush">
        <% @pending_courses.each do |course| %>

          <li class="list-group-item list-group-item-action"><%= link_to course.title, course_path(course) %></li>
        
        <% end %>
        </ul>
      </div>
      <% end %>
      
    </div>
  <% end %>
  
  <div class="my-3">
  <%= link_to 'Edit Account', edit_user_path(@user), class: "btn btn-warning mr-3" %>
  <%= render 'layouts/delete', object: {name: "Delete Account", path: user_path(@user)} %>
  </div>
</div>
