<% provide(:title, Submission) %>

<div class="container col-8 my-5">
  <div>
    <%= link_to 'All Assignments', course_assignments_path(@course), class: "btn btn-info mb-4" %>
    <%= link_to 'All Submissions', course_submissions_path(@course), class: "btn btn-primary mb-4 ml-2" %>
  </div>

  <h1>Submitted work for <%=@assignment.name%></h1>

  <div>
  
  <% if @submission.body %>
    <%= simple_format(@submission.body.gsub(/\\n/, "\n")) %>
  <% end %>
  
  <% unless @submission.url.empty? %>
    Submissions can be found here: <%= link_to 'Link to submission', @submission.url %>
  <% end %>

  </div>
  <% if current_user && current_user.id == @submission.user_id %>
    <div class="my-4">
      <div class="d-inline pr-2">
        <%= link_to 'Edit Submission', edit_course_assignment_submission_path(@course, @assignment, @submission), class: "btn btn-warning" %>
      </div>

      <%= render 'layouts/delete', object: {name: "Delete Submission", path: course_assignment_submission_path(@course, @assignment, @submission)} %>
    </div>
  <% end %>  


</div>